html, 
body,
#root {
    height: 100%;
}

.noscroll {
    overflow: hidden;
    height: 100%;
}

.sidebar {
    z-index: 1500;
    position: absolute;
    left: -100%;
    height: calc(100% - 50px);
    width: 100%;
    transition: left 0.3s ease-in-out;
    background-color: gray;
    /* background-color: white; */
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    /* background-color: lightgray; */
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .content.open {
    left: 200px;
  }